body {
    color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/earth.webp");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img {
    width: 800px; 
    height: auto; 
}

.Earth {
    margin-top: 35px;
}
.ABOUTCONTAINER {
    margin-top: 10px;
    border: 8px;
}